<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<network-scanner-config>
  <customadurl/>
  <mintotray>false</mintotray>
  <monitorinfo>false</monitorinfo>
  <geolocation>false</geolocation>
  <termsessions>false</termsessions>
  <ignored/>
  <nicvendor>false</nicvendor>
  <onlinediscovery>true</onlinediscovery>
  <sortnocase>false</sortnocase>
  <maxthcount>128</maxthcount>
  <maxthlimit>1024</maxthlimit>
  <maxruntime>0</maxruntime>
  <showdead>false</showdead>
  <alwaysscan>false</alwaysscan>
  <randomscan>false</randomscan>
  <warnmacdup>false</warnmacdup>
  <macaddr>true</macaddr>
  <showtime>false</showtime>
  <getipv6>false</getipv6>
  <maptype>0</maptype>
  <hostname>true</hostname>
  <hosttype>2</hosttype>
  <reverse>false</reverse>
  <hostcheck>7</hostcheck>
  <pshellssl>false</pshellssl>
  <pshellnop>false</pshellnop>
  <securewmi>false</securewmi>
  <bmarkname>false</bmarkname>
  <nmapinclude/>
  <nmapexclude/>
  <nmapcustpar/>
  <scriptfont>0</scriptfont>
  <devnum>0</devnum>
  <ssl>
    <enabled>false</enabled>
    <types>1</types>
  </ssl>
  <macparam>
    <item>
      <method>0</method>
      <enabled>true</enabled>
    </item>
    <item>
      <method>1</method>
      <enabled>false</enabled>
    </item>
    <item>
      <method>2</method>
      <enabled>false</enabled>
      <snmpcomm>public</snmpcomm>
      <snmpcstr/>
      <snmpaddr/>
    </item>
    <item>
      <method>3</method>
      <enabled>false</enabled>
    </item>
  </macparam>
  <mapnames/>
  <mapcolumns/>
  <portgroups>
    <item>
      <ident>HTTP and proxy</ident>
      <value>80, 443, 3128, 8080</value>
    </item>
    <item>
      <ident>SMB</ident>
      <value>139, 445</value>
    </item>
    <item>
      <ident>FTP and SFTP</ident>
      <value>21, 115</value>
    </item>
    <item>
      <ident>Database servers</ident>
      <value>1433, 3050, 3306, 5432</value>
    </item>
    <item>
      <ident>Remote control</ident>
      <value>22, 23, 3389, 4899, 5900</value>
    </item>
  </portgroups>
  <ping>
    <timeout>1000</timeout>
    <attempts>1</attempts>
    <method>2</method>
    <broadcast>false</broadcast>
    <arpoutsub>false</arpoutsub>
    <pingtype>false</pingtype>
    <timetolive>false</timetolive>
    <jitter>
      <enabled>false</enabled>
      <samples>10</samples>
    </jitter>
  </ping>
  <ports>
    <tcp>
      <enabled>true</enabled>
      <portlist>80, 443, 139, 445</portlist>
      <getnames>false</getnames>
    </tcp>
    <udp>
      <dns>false</dns>
      <ntp>false</ntp>
      <tftp>false</tftp>
      <nbns>false</nbns>
      <mssql>false</mssql>
      <radius>false</radius>
    </udp>
    <banner>
      <enabled>false</enabled>
      <portlist>21f, 80, 443s, 3128, 8080, 16992</portlist>
    </banner>
  </ports>
</network-scanner-config>
